.eventTitle {
  margin-left: 2rem;
  color: rgba(0, 0, 0, 0.6);
}
.figurediv {
  display: flex;
  align-items: center;
}
.accordion {
  overflow: auto;
  max-height: 25rem;
  overflow-x: hidden;
  width: 100%;
}

.accordion-body {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 0;
  padding-bottom: 0;
}
.eventDetails {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

.noShowsdiv {
  display: flex;
  justify-content: center;
  height: 7rem;
  align-items: center;
  background-color: white;
}

.noShowsdiv h6 {
  font-size: 3rem;
}

.saveEventButton {
  z-index: 100;
}

.saveEventdiv {
  display: flex;
  justify-content: center;
  align-self: flex-end;
  justify-self: center;
  margin-bottom: 10px;
}
.figure img {
  min-height: 110px;
  max-height: 110px;
  min-width: 160px;
  max-width: 160px;
}

@media screen and (min-width: 1px) {
  .eventTitle h2 {
    font-size: 13px;
  }
}
@media screen and (min-width: 576px) {
  .eventTitle h2 {
    font-size: 22px;
  }
}
@media screen and (min-width: 768px) {
  .eventTitle h2 {
    font-size: 26px;
  }
}
@media screen and (min-width: 992px) {
  .eventTitle h2 {
    font-size: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .eventTitle h2 {
    font-size: 30px;
  }
}
@media screen and (min-width: 1400px) {
  .eventTitle h2 {
    font-size: 30px;
  }
}

@media screen and (min-width: 1px) {
  .eventTitle h3 {
    font-size: 9px;
  }
}
@media screen and (min-width: 576px) {
  .eventTitle h3 {
    font-size: 16px;
  }
}
@media screen and (min-width: 768px) {
  .eventTitle h3 {
    font-size: 20px;
  }
}
@media screen and (min-width: 992px) {
  .eventTitle h3 {
    font-size: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .eventTitle h3 {
    font-size: 30px;
  }
}
@media screen and (min-width: 1400px) {
  .eventTitle h3 {
    font-size: 30px;
  }
}

@media screen and (min-width: 1px) {
  .row h4 {
    font-size: 13px;
  }
}
@media screen and (min-width: 576px) {
  .row h4 {
    font-size: 22px;
  }
}
@media screen and (min-width: 768px) {
  .row h4 {
    font-size: 26px;
  }
}
@media screen and (min-width: 992px) {
  .row h4 {
    font-size: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .row h4 {
    font-size: 30px;
  }
}
@media screen and (min-width: 1400px) {
  .row h4 {
    font-size: 30px;
  }
}

@media screen and (min-width: 1px) {
  .venueAddress,
  .eventInfo {
    font-size: 9px;
  }
}
@media screen and (min-width: 576px) {
  .venueAddress,
  .eventInfo {
    font-size: 16px;
  }
}
@media screen and (min-width: 768px) {
  .venueAddress,
  .eventInfo {
    font-size: 20px;
  }
}
@media screen and (min-width: 992px) {
  .venueAddress,
  .eventInfo {
    font-size: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .venueAddress,
  .eventInfo {
    font-size: 30px;
  }
}
@media screen and (min-width: 1400px) {
  .venueAddress,
  .eventInfo {
    font-size: 30px;
  }
}
@media (min-width: 260px) {
  .figure img {
    min-height: 70px;
    max-height: 70px;
    min-width: 100px;
    max-width: 100px;
  }
}
@media (min-width: 360px) {
  .figure img {
    min-height: 90px;
    max-height: 90px;
    min-width: 130px;
    max-width: 130px;
  }
}
@media (min-width: 1024px) {
  .figure img {
    min-height: 140px;
    max-height: 140px;
    min-width: 200px;
    max-width: 200px;
  }
}
