* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
.profile-container {
  background-color: #f5efed;
  height: 100vh;
}
.image-container {
  min-height: fit-content;
  min-width: 100%;
}
.banner-img {
  position: absolute;
  max-height: 22vh;
  min-height: 140px;
  min-width: 100%;
  background-color: red;
}
.profile-img {
  position: relative;
  left: 5%;
  top: 6vh;
  outline: 4px white solid;
  min-height: 150px;
  min-width: 150px;
  border-radius: 50%;
  background-color: red;
}
.name-country-city {
  position: relative;
  top: 6vh;
  left: 2%;
  display: flex;
  flex-direction: column;
}
.name-country-city .name-field {
  font-size: 30px;
}
.name-country-city .city-country-field {
  font-size: 22px;
}
.saved-events {
  position: relative;
  top: 7vh;
  width: 90%;
  margin: auto;
  max-height: 370px;
  padding: 10px;
}
.saved-events .saved-events-title {
  font-size: 20px;
  font-weight: 600;
  position: fixed;
}
.article-component {
  margin-top: 30px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  height: 320px;
  overflow-y: scroll;
  padding: 20px 5px;
}
.saved-events article {
  display: flex;
  margin: auto;
  min-height: 96px;
  width: 95%;
  outline: 1px red solid;
}
