.profile-container {
  display: flex;
  flex-direction: column;
  background-color: #0f110c;
  overflow-x: hidden;
  min-height: 100vh;
}
.img-container {
  position: relative;
}
.banner-img {
  min-height: 250px;
  max-height: 380px;
  background-color: #f5efed;
  width: 100%;
  object-fit: cover;
}
.no-banner-img {
  min-height: 250px;
  max-height: 380px;
  background-color: #f5efed;
  min-width: 100%;
}
.profile-img {
  position: relative;
  top: -70px;
  left: 20px;
  min-height: 130px;
  max-height: 160px;
  outline: solid 3px #f5efed;
}
.no-profile-img {
  position: relative;
  top: -70px;
  left: 20px;
  min-height: 110px;
  outline: solid 3px #0f110c;
}
.name-location-container {
  position: relative;
  top: -55px;
  left: 20px;
  width:95%;
}
.edit-event-container {
  display: flex;
  justify-content: flex-end;
}
.name-and-age {
  color: #f5efed;
  font-size: 33px;
  font-weight: 300;
  margin: 0;
}
.name-and-age .age {
  opacity: 0.6;
}
.name-location-container .username {
  color: #f5efed;
  opacity: 0.6;
  margin: 0;
  font-size: 20px;
  font-weight: 300;
}
.events-and-fav-artist-contaiener {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 90%;
  padding: 15px;
  gap: 40px;
  padding-bottom: 50px;
}
.saved-upcoming-events {
  color: #f5efed;
  margin: 0 auto;
  width: 100%;
}
.saved-events-title {
  font-size: 25px;
  font-weight: 300;
}
.no-saved-events {
  font-size: 20px;
  font-weight: 200;
}

.favourite-artists-title {
  color: #f5efed;
  font-size: 25px;
  font-weight: 300;
}
.favourite-artists-events {
  color: #f5efed;
  font-size: 25px;
  font-weight: 300;
}
/* EXTRA ELEMENTS FOR ARTIST PROFILEPAGE */
.name-location-container .name {
  color: #f5efed;
  font-size: 33px;
  font-weight: 300;
  margin: 0;
}
.artist-bio {
  width: 90%;
  margin: 0 auto;
  padding: 15px;
}
.bio-title {
  font-size: 25px;
  font-weight: 300;
  color: #f5efed;
}

.bio-div {
  background-color: #f5efed;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
}
.info-div {
  background-color: #f5efed;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
}
.info-textarea {
  display: flex;
  flex-direction: column;
  height: 15vh;
  background-color:  #f5efed;
  color:#0f110c
}
.edit-bio-button {
  font-size: 12px;
  width: fit-content;
  background-color: #0f110c;
  outline: #0f110c 1px solid;
  border: none;
}
.bio-textarea {
  display: flex;
  flex-direction: column;
  height: 15vh;
}
.modal-submit-button.bio {
  border: #0f110c 1px solid;
}
.event-list-title {
  font-size: 25px;
  font-weight: 300;
  color: #f5efed;
}
.create-event-button {
  font-size: 12px;
  width: fit-content;
  background-color: #f5efed;
  outline: #0f110c 1px solid;
  border: none;
  color: #0f110c;
}
.artist-songs-section {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  gap: 5px;
}
.song-list-title {
  font-size: 25px;
  font-weight: 300;
  color: #f5efed;
}
.songs-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.add-song-button {
  font-size: 12px;
  width: fit-content;
  background-color: #f5efed;
  outline: #0f110c 1px solid;
  border: none;
  color: #0f110c;
  margin-bottom: 25px;
}
.modal-submit-button {
  background-color: #0f110c;
  outline: #0f110c 1px solid;
  border: none;
  font-size: 12px;
  width: fit-content;
  margin-top: 5px;
  height: fit-content;
}
.noShowsdiv{
  display:flex;
  justify-content: center;
  height: 7rem;
  align-items: center;
  background-color:  #f5efed;
  color:#0f110c
}